<%- include("partials/header.ejs") %>

      <section class="com-padd com-padd-redu-bot1 pad-bot-red-40 pb-0 pt-75">
        <div class="container">
          <div class="row">
            <div class="com-title" style="margin-bottom: 20px;" id="ld-start">
                    <h2><span id="About">About US</span></h2>
                </div>
                <div class="home-list-pop list-spac">
                  <div class="list-pg-inn-sp">
                    <div class="row">
                      <div class="col-md-12 home-list-pop-desc inn-list-pop-desc">
                        <p>Hope Charity is a youth led organization working on the betterment of the society. Hope Charity is connected to various organisation to help them in Donation to the society.We are a small team of members who Hope everyone can sustain a better life. Hope Charity gives Hope to every people.</p>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
      </section>
      <section class="com-padd com-padd-redu-bot1 pad-bot-red-40 pb-0 pt-75">
        <div class="container">
          <div class="row">
            <div class="com-title" style="margin-bottom: 20px;" id="ld-ser">
                    <h2><span class="style-left"></span><span id="Overview">Overview</span><span class="style-right"></span></h2>
                </div>
            <div class="home-list-pop list-spac">
    
              <div class="list-pg-inn-sp">
                <div class="row">
                  <div class="col-md-2 list-ser-img">
                    <img src="/images/overview.jpg" alt="Overview image" style="width:150px">
                  </div>
                  <div class="col-md-10 home-list-pop-desc inn-list-pop-desc">
                    <p>Hope Charity is a Charitable Organisation that helps people to connect to different Charitable Organisation for Donation.Hope Charity has focused its interventions on issues concerning youth and children which brought about significant changes in their lives in terms of education, health, skill, career and sustainable livelihood. Hope Charity also Connects different small Ngos and Organisation's that work on Environment conservation, women empowerment, Food safety and security. Being an Charity who cares for society, Hope Charity also gets engaged in projects as the situation demands under natural or manmade disasters, like COVID-19 Pandemic, Flood, Drought Relief etc.</p>
    
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="com-padd com-padd-redu-bot1 pad-bot-red-40 pb-0 pt-75">
        <div class="container">
          <div class="row">
            <div class="com-title" style="margin-bottom: 20px;" id="ld-ser">
                    <h2><span class="style-left"></span><span id="Vision">Vision</span><span class="style-right"></span></h2>
                </div>
            <div class="home-list-pop list-spac">
    
              <div class="list-pg-inn-sp">
                <div class="row">
                  <div class="col-md-2 list-ser-img">
                    <img src="/images/vision.jpg" alt="Overview image" style="width:150px">
                  </div>
                  <div class="col-md-10 home-list-pop-desc inn-list-pop-desc">
                    <p>Hope Charity envisions fostering the development of a happy, healthy, and sustainable society in which every individual has an equal opportunity for growth and a life of dignity.</p>    
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="com-padd com-padd-redu-bot1 pad-bot-red-40 pb-0 pt-75">
        <div class="container">
          <div class="row">
            <div class="com-title" style="margin-bottom: 20px;" id="ld-ser">
                    <h2><span class="style-left"></span><span id="Mission">Mission</span><span class="style-right"></span></h2>
                </div>
            <div class="home-list-pop list-spac">
    
              <div class="list-pg-inn-sp">
                <div class="row">
                  <div class="col-md-2 list-ser-img">
                    <img src="/images/mission.jpg" alt="Overview image" style="width:150px">
                  </div>
                  <div class="col-md-10 home-list-pop-desc inn-list-pop-desc">
                    <p>
                      The main mission of Hope Charity is to empower the economically underprivileged by empowering them through encouragement, education, and employment. Hope Charity strives to encourage individuals to reach their full potential, lead happy, healthy lives with dignity and make them capable of making meaningful contributions to society. Hope Charity is shaping up a sustainable society for future generations by instilling futuristic ideals into our practices.</p>    
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <%- include("partials/footer.ejs") %>