<%- include("partials/header.ejs") %>


      <section class="com-padd com-padd-redu-bot1 pad-bot-red-40 pb-0 pt-75">
        <div class="container">
          <div class="row">
            <div class="com-title" style="margin-bottom: 20px;" id="ld-ser">
                    <h2><span id="Overview">Contact Us & Info</span></h2>
                </div>
            <div class="home-list-pop list-spac">
    
              <div class="list-pg-inn-sp">
                <div class="row">
                  <div class="col-md-10 home-list-pop-desc inn-list-pop-desc">
                    <p style="text-align: center;padding-left: 10%;">Hope Charity,30/B,Punit Nagar, O.P. Road, Vadodara</p>
                    <p style="text-align: center;padding-left: 10%;">Gujarat,India - 390007</p>
                    <p style="text-align: center;padding-left: 10%;">Phone : +91 7016245453</p>
                    <p style="text-align: center;padding-left: 10%;"><E-mail>E-mail :- hopecharity@ymail.com</E-mail></p>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

 <%- include("partials/footer.ejs") %>