<%- include("partials/header.ejs") %>
<!-- End of Heading -->

<div class="my-5">
  <div class="p-5 text-center bg-body">
    <div class="container py-5">
      <h1 class="text-body-" style="color: green; font-size: xxx-large; font-family: cursive;">Welcome to Hope Charity</h1>
      <p class="col-lg-8 mx-auto lead" style="color: green; padding-top: 2%;">
        We are a small charity organisation that connects people with other small scale organisation to donate and help people for better suistanablity.We are connected with some of the organisation that are below.
      </p>
    </div>
  </div>
</div>
        <!-- Three columns of text below the carousel -->
        <div class="row" style="padding-left: 7%;">
          <div class="col-lg-4">
            <img src="/images/osho sadhna trust.jpg" alt="osho sadhana trust" class="roundimg">
            <h2 class="fw-normal" style="color: green; font-family: cursive;">Osho Sadhana Trust</h2>
            <p style="color: green;">Our trust is located in a small village of savarkundala taluka. We help cows that are ill and provide them with a shelter.</p>
            <p><a class="btn btn-secondary" href="/oshosadhantrust.ejs" style="background-color: green;">View details »</a></p>
          </div>
          <div class="col-lg-4">
            <img src="/images/benjamin world turst.jpg" alt="benjamin world trust" class="roundimg2">
            <h2 class="fw-normal" style="color: green; font-family: cursive;">Benjamin World Trust</h2>
            <p style="color: green;">Benjamin World Trust is located in the city of Vadodara. We are a trust that helps the nature and we also provide food and water for the needy.</p>
            <p><a class="btn btn-secondary" href="/benjaminworld.ejs" style="background-color: green;">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/images/paramhit Dham.jpg" alt="paramhit Dham" class="roundimg3">
            <h2 class="fw-normal" style="color: green; font-family: cursive;">Paramhit Dham</h2>
            <p style="color: green;">Paramheet Trust is a small foundation trust that was started for the betterment of needy people and to take care of animals and nature.</p>
            <p><a class="btn btn-secondary" href="/paramhit.ejs" style="background-color: green;">View details »</a></p>
        </div><!-- /.row -->
    
    
        <!-- START THE FEATURETTES -->
    

    
        <div class="row featurette" style="padding-top: 15%;">
          <div class="col-md-7" style="padding-top: 10%;">
            <h2 class="featurette-heading fw-normal lh-1" style="color: green; font-family: cursive;">Osho Sadhna Trust</h2>
            <p class="lead" style="text-align: center; color: green;">We are a small trust that is located in the savarkundala taluka of Amerli District.
            Our village is located near gir forest so there are many wild animals roaming and hunting around especially cows and cows are consider as holy in our relegion.So we provide shelter for those cows and provide food for them and moreover we also treat them from any illness and for all this we need donation to keep the Trust running. We appriciate any amount of donation that is done for our trust.</p>

          </div>
          
          <div class="col-md-5">
           <img src="/images/osho sadhna trust 1.jpg" alt="osho sadhana path trust" class="oshoimg">
          </div>
          
        </div>
    

    
        <div class="row featurette" style="padding-top: 15%;">
          <div class="col-md-7 order-md-2" style="padding-top: 10%;">
            <h2 class="featurette-heading fw-normal lh-1" style="color: green; font-family: cursive;">Benjamin World Trust</h2>
            <p class="lead" style="text-align: center; color: green;">Benjamin World is a trust that not only works for nature but they also donate to people who are in need and help them to maintain the suistanablity in the society.Their main motive is to keep the society in peace and harmony and help the needy people and also maintain the Environment by plaint the trees and maintaing sanity.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="/images/benjamin world trust 1.jpg" alt="Benjamin World Trust" class="benjaminimg">
          </div>
        </div>
    

    
        <div class="row featurette" style="padding-top: 15%;">
          <div class="col-md-7" style="padding-top: 10%;">
            <h2 class="featurette-heading fw-normal lh-1" style="color: green; font-family: cursive;">Paramhit Dham</h2>
            <p class="lead" style="text-align: center; color: green;">Paramhit Dham is a small Spritiual Place that has been started for the betterment of the society and welfare of the people.It also provides help for the cows as it is consider holy among the Spritiuality.</p>
          </div>
          <div class="col-md-5">
            <img src="/images/paramhit Dham 1.jpg" alt="paramhit dham" class="friendsimg">
          </div>
        </div>
    

    
        <!-- /END THE FEATURETTES -->
    
<%- include("partials/footer.ejs") %>