<%- include("partials/header.ejs") %>
      <!-- End of Heading -->
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold" style="color: green; font-family: cursive;">To Donate First you need to Login And If you are a new user you need to Signup.</h1>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="padding-top: 10%;">
            <a href="./login.ejs" class="btn btn-lg" role="button" style="background-color: green; color: white;">Login</a>
            <a href="./signup.ejs" class="btn btn-lg" role="button" style="background-color: white; color: green;">Signup</a>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%- include("partials/footer.ejs") %>