<%- include("partials/header.ejs") %>

<!-- End of Header  -->

<section class="com-padd com-padd-redu-bot1 pad-bot-red-40 pb-0 pt-75">
    <div class="container">
      <div class="row">
        <div class="com-title" style="margin-bottom: 20px;" id="ld-ser">
                <h2></span><span id="Overview">Welcome to Paramhit Dham</span></h2>
            </div>
        <div class="home-list-pop list-spac">

          <div class="list-pg-inn-sp">
            <div class="row">
              <div class=" home-list-pop-desc inn-list-pop-desc">
                <p style="text-align: center; color: green;">Paramhit Dham is a Spritiual Ashram that is located in a Chandod. They help in the well Being of the Cows and they make them stay there for a longer duration of period by looking after their food and growth. They also do pooja as it is considered as a Spritiual and holy place. Never the less they also let people stay there for free and provid them with food.</p>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/paramhit Dham 2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3" style="text-align: center; color: green; font-family: cursive;">Help the people do good!!!</h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="padding-top: 10%; padding-left: 39%;">
            <a href="./donation.ejs" class="btn btn-lg" role="button" style="background-color: green; color: white;">Donate</a>
        </div>
      </div>
    </div>
  </div>



<!-- start of footer -->
<%- include("partials/footer.ejs") %>