<%- include("partials/header.ejs") %>
<section class="com-padd com-padd-redu-bot1 pad-bot-red-40 pb-0 pt-75">
    <div class="container">
      <div class="row">
        <div class="com-title" style="margin-bottom: 20px;" id="ld-start">
                <h2><span id="About">Thank You for Your Generous Donation!</span></h2>
            </div>
            <div class="home-list-pop list-spac">
              <div class="list-pg-inn-sp">
                <div class="row">
                  <div class="col-md-12 home-list-pop-desc inn-list-pop-desc" style="padding-left: 20%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <p>We are incredibly grateful for your support. Your donation will make a meaningful impact and help us continue our mission.</p>
  <p style="padding-left: 20%;">Thank you for being a valuable part of our community!</p>
                  </div>
                </div>
              </div>
            </div>






<%- include("partials/footer.ejs") %>